<h1>cadastro de produto</h1>
<br>
<form action="/cadastrar" method="post">
    <label for="verduras">Nome da Verdura</label>
    <input type="text" name="verduras">
    <br>
    <label for="qtde">Quantidade da Verdura</label>
    <input type="text" name="qtde">
    <br>
    <label for="preco">Preço unitario da Verdura</label><br>
    <input type="text" name="preco">
    <br>

    <button type="submit">Cadastrar</button>
</form>

