<h1>Pesqusa produto </h1>
<br>
<form action="/pesquisar" method="post"></form>
<label for="codigo">Código</label><br>
<input type="text" name="codigo" placeholder="Código do Produto">
<br><br>
<button type="submit">Pesquisar</button>